:root {
    /* fonts */
    --main-fonts:"Roboto";
    --logo-fonts: "Raleway";   
    /* text colors */
    --main-colors-font: #212121;
    --secondary-colors-font: #757575;
    --accent-color-font: #2196F3;
    --hero-color: #FFFFFF;
    --simply-white: #FFFFFF;
    --adrees-colors: rgba(255, 255, 255, 0.6);
    /* bg-colors */
    --main-bg: #fff;
    --secondary-bg: #F5F4FA;
    --hero-bg: #2F303A;
    --footer-bg: #2F303A;
    /* others */ 
    --btn-hero: #2196F3;
    --btn-hover: #188CE8;
    --footer-work-border: #ECECEC;
    --ounline-portfolio-work: #EEEEEE; 
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    /* width: 1170px;
    padding-right: 15px;
    padding-left: 15px; */
    font-family: var(--main-fonts), "Sans-serif";
    font-size: 14px;
    line-height: 1.14;
    color: var(--main-colors-font);
    background-color: var(--main-bg);    
}

/* common styles start */
.main-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
}

.link {
    text-decoration: none;
    font-style: normal;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.section-title {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;    
}

.visually-hidden { 
    position: absolute; 
    width: 1px; 
    height: 1px; 
    margin: -1px; 
    border: 0; 
    padding: 0; 
    white-space: nowrap; 
    clip-path: inset(100%); 
    clip: rect(0 0 0 0); 
    overflow: hidden; 
} 

/* <!-- Section header --> */
.header {
    margin-bottom: 0;
    width: auto;
    outline: 1px solid var(--footer-work-border);
}

.header-flex {
    display: flex;
    align-items: center;
    justify-content: center
}

.header-nav {
    display: flex;
    align-items: center
}

.header-logo {
    display: block;
    margin-right: 93px;
    font-family: var(--logo-fonts);
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-colors-font);
    outline: 1px solid red;     
}

.header-logo-web {
    color: var(--accent-color-font);
}

.header-list {
    display: flex;
    margin-right: 331px;
}

.header-list-item {
    outline: 1px solid red;
    margin-right: 50px;
}

.header-list-item:last-child {
    margin-right: 0;    
}

.header-link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--main-colors-font);
    font-weight: 500;
    letter-spacing: 0.02em;    
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-color-font)
}

.link.current {
    color: var(--accent-color-font);
}

.header-contact {
    display: flex;
    outline: 1px solid red;
}

.header-mail {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--secondary-colors-font);
    margin-right: 50px;

}

.header-mail:hover,
.header-mail:focus {
    color: var(--accent-color-font);
}

.header-tel {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--secondary-colors-font);
}

.header-tel:hover,
.header-tel:focus {
    color: var(--accent-color-font);
}

/* Section Hero */
.hero {
    text-align: center;
    padding-top: 200px;
    padding-left: 500px;
    padding-right: 500px;
    
    width: auto;
    height: 600px;
    left: 0px;
    top: 80px;
    background-color: var(--hero-bg);
}

.hero-title {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-color);
    outline: 1px solid red;
}

.hero-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--hero-color);

    display: inline-block;
    padding: 10px 32px;
    background-color: var(--btn-hero);  
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 1px solid transparent;
    border-radius: 4px;

    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--btn-hover);
}

/* Section About */
.about {
    padding-top: 94px;
    padding-bottom: 94px;
    outline: 1px solid red;
}

.about-list {
    display: flex;    
}

.about-link {
    outline: 1px solid red;
    margin-right:31px;
}

.about-link:last-child{
    margin-right: 0; 
}

.about-section {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;    
}

.about-item {
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-colors-font);
}

/* Section Doing */
.doing {
    padding-bottom: 94px;
    outline: 1px solid red;
}

.doing-list {
    display: flex;    
}

.doing-list:last-child {
    margin-right: 0;
}

.doing-item {
    margin-right: 30px;
}

/* Section Team */
.team {
    margin-bottom: 0;
    padding-top: 94px;
    padding-bottom: 94px;
    width: 1600px;
    background: var(--secondary-bg)
    outline: 1px solid red;
}

.team-container {
    margin-right: 30px;
    width: 270px;
    height: 368px;
    background: var(--main-bg);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-list {
    display: flex;
    justify-content: center
}

.team-list :last-child {
    margin-right: 0;
}

.team-personal {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;    
}

.team-item {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--secondary-colors-font);
}

/* <!-- Section footer --> */
.footer {
    padding-top: 60px;
    padding-left: 215px;
    padding-bottom: 60px;
    background-color: var(--footer-bg);
    width: 1600px;
    height: 252px;    
}

.footer-logo {
    display: inline-block;
    margin-bottom: 20px;
    font-family: var(--logo-fonts);
    font-weight: 700;   
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--simply-white);
}

.footer-address {
    display: inline-block;
    margin-bottom: 9px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--simply-white);
}

.footer-address:hover,
.footer-address:focus {
    color: var(--accent-color-font);
}

.footer-mail {
    display: inline-block;
    margin-bottom: 9px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);    
}

.footer-mail:hover,
.footer-mail:focus {
    color: var(--accent-color-font);
}

.footer-tel {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);    
}

.footer-tel:hover,
.footer-tel:focus {
    color: var(--accent-color-font);
}


/* Page Portfolio*/
.portfolio {
    margin-top: 0;
    margin-bottom: 94px;
    padding-top: 94px;
    outline: 1px solid red;
}

.container {
    outline: 1px solid red;
}

.portfolio-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio-list :last-child {
    margin-right: 0;
}

.portfolio-btn-item {
    margin-right: 8px;
}

.portfolio-btn {
    display: inline-block;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: var(--main-colors-font);

    background: var(--secondary-bg);
    border: 1px solid transparent; 
    border-radius: 4px; 
    padding: 6px 22px;
    min-width: 73px;
    
    cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--simply-white);
    background-color: var(--btn-hover);  
}

.portfolio-work {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-bottom: 94px;
    outline: 1px solid red    
}

.portfolio-work :nth-child(3n) {
    margin-right: 0;
}

.portfolio-work :nth-last-child(-n + 3) {
    margin-bottom: 0;
    background-color: orange;
}

/* ВИДАЛИТИ проценти*/
.portfolio-item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    outline: 1px solid red

    background-color: var(--simply-white);
    border: 1px solid var(--ounline-portfolio-work);
    margin-right: 30px;
    margin-bottom: 30px;
    padding-bottom: 20px    
}

/* ВИДАЛИТИ */

/* .portfolio-work :nth-child(3n) {
    margin-right: 0;
} 

.portfolio-work :nth-last-child(-n + 3) {
    margin-bottom: 0;
    background-color: orange;
} */

/* .portfolio-item {
    box-sizing: border-box;
    width: 370px;
    height: 404px;
    background-color: var(--simply-white);
    border: 1px solid var(--ounline-portfolio-work);
    margin-right: 30px;
    margin-bottom: 30px;
    padding-bottom: 20px;
} */

.portfolio-title {
    margin-top: 20px;
    margin-bottom: 4px;
    margin-left: 24px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-colors-font);
    outline: 1px solid red
}

.portfolio-title-item {
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var(--secondary-colors-font);
    margin-left: 24px;
    margin-top: 0;
    margin-bottom: 20px;
    outline: 1px solid red
}